<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLVT_NHOM.Properties.Settings.QLVTDataset" connectionString="Data Source=DESKTOP-9HDLFKD;Initial Catalog=QLVT_NHOM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLVT_NHOM.Properties.Settings.DS" connectionString="Data Source=DESKTOP-9HDLFKD\SERVER1;Initial Catalog=QLVT_NHOM;Persist Security Info=True;User ID=HH"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>